/* ClientRegistration.css */

.Register-form {
  max-width: 1050px;
    margin: auto;
    padding: 30px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  .form-section {
    margin-top: 20px;
  }
  
  h4 {
    font-size: 28px;
    margin: 0px;
    margin-bottom: -20px;
    color: #17a2b8; /* Color for the form title */
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .clientbutton {
    background-color: hsl(134, 61%, 41%); /* Green background color for the submit button */
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; 
    margin-left: 700px;
  }
  
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  