/* Vender_registration.css */
 
.Register-form {
    max-width: 1050px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f9fa; /* Light gray background color */
    text-align: center; /* Center the content */
  }
   
  h4 {
    font-size: 28px;
    margin: 0px;
    margin-bottom: -20px;
    color: #17a2b8; /* Color for the form title */
  }
   
  .form-section {
    display: flex;
    justify-content: space-between;
  }
   
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Font size for labels */
    color: #495057; /* Text color for labels */
  }
   
  input,
  textarea {
    width: calc(100% - 34px); /* Adjusted width to account for border and padding */
    border: 2px solid #17a2b8; /* Border color for input fields */
    border-radius: 8px;
    font-size: 16px; /* Font size for input fields */
    background-color: #ffffff; /* White background color for input fields */
   
  }
   
  .vendorsubmit {
    background-color: hsl(134, 61%, 41%); /* Green background color for the submit button */
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Font size for the submit button */
    /* margin-right: -60px; */
    margin-left: 700px;

  }

  .vendormain{
    display: flex; 
    justify-content: space-between; 
   margin-left: 150px;
  }

  .firsthalf{
    /* border: 1px solid black; */
    width: 300px;
    margin: 2rem;
  }

  .secondhalf{
    /* border: 1px solid black; */
    width: 300px;
    margin: 2rem;
  }